{%- comment -%}
	头部分类菜单
	@Version  v2.0
	@Author   苦行僧|2021/10/18
{%- endcomment -%}


{% assign pathArr = canonical_url | replace:"/","_"| split:"_" %}
{% assign path3 = pathArr[3] %}
{% assign path4 = pathArr[4] %}

{%- capture cjj_current -%}
	{%- if path4=='mens' -%}
		me
		{% elsif path4 =='women' %}
		women
		{% elsif path4 =='new-in' %}
		new-in
		{% elsif path4 =='hot-sale' %}
		hot-sale
	{% else  %}
		home
	{% endif %}
{%- endcapture -%}

{%- assign cjj_currentPage = cjj_current | strip -%}

<div class="cjj_category-menu">
	<ul class="menu">
		{%- for link in menu.links -%}
			<li class="menu-item {{ link.title| downcase |replace:" ","-" }}">
				<a href="{{ link.url }}">{{ link.title }}</a>
				<ul class="mini-menu">
					<li class="mini-menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
					<li class="mini-menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
					<li class="mini-menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
				</ul>
			</li>
		{%- endfor -%}
	</ul>
</div>

<style>
	#shopify-section-{{ section.id }} .cjj_category-menu {
		margin: 0 auto;
		flex: 1 0 auto;
	}
	#shopify-section-{{ section.id }} .cjj_category-menu .menu,
	#shopify-section-{{ section.id }} .cjj_category-menu .menu-item {
		list-style: none;
		padding: 0;
		text-align: center;
	}
	#shopify-section-{{ section.id }} .cjj_category-menu .menu {
		display: flex;
		justify-content: center;
	}
	#shopify-section-{{ section.id }} .cjj_category-menu .menu-item {
		display: inline-block;
		margin: 0;
		flex: 0 1 auto;
		position: relative;
	}
	#shopify-section-{{ section.id }} .cjj_category-menu .menu-item>a{
		display: block;
		padding: 0 10px;
		position: relative;
		font-family: var(--heading-font-family);
	}
	#shopify-section-{{ section.id }} .cjj_category-menu .menu-item>a:after{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: "";
		pointer-events: none;
		border-bottom: 2px solid;
		opacity: 0;
		-webkit-transform: scale(0,1);
		transform: scale(0,1);
		-webkit-transition: opacity 0.5s,transform 0.5s;
		transition: opacity 0.5s,transform 0.5s;
	}
	#shopify-section-{{ section.id }} .cjj_category-menu .menu-item:hover>a:after{
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	#shopify-section-{{ section.id }} .cjj_category-menu .{{ cjj_currentPage }}>a:after{
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	#shopify-section-{{ section.id }} .mini-menu{
		position: absolute;
		top: 0;
	}	#shopify-section-{{ section.id }} .mini-menu>li{
			display: block;
	}
</style>
