<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <script>
!function (w, d, t) {
  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};

  ttq.load('C65OMM7EQFRBU5HKFMA0');
  ttq.page();
}(window, document, 'ttq');
</script>
{% include 'limespot' %}
{% include 'kiwiSizing' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    {%- capture seo_page_title -%}
      {%- if request.page_type == 'search' and search.terms != blank -%}
        {{ search.terms | split: ' AND ' | last | split: 'product_type:' | last }} - {{ shop.name }}
      {%- else -%}
        {{ page_title }}
        {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}
        {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {%- endif -%}
    {%- endcapture -%}

    



  <!-- Avada Size Chart Script -->
 {% include 'avada-sc-setting' %}
  <!-- /Avada Size Chart Script -->

<title>{{- seo_page_title -}}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

    {% render 'microdata-schema' %}

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        cartCount: {{ cart.item_count | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        currencyCodeEnabled: {{ settings.currency_code_enabled | json }},
        showDiscount: {{ settings.show_discount | json }},
        discountMode: {{ settings.discount_mode | json }},
        searchMode: {{ settings.search_mode | json }},
        searchUnavailableProducts: {{ settings.search_unavailable_products | json }},
        cartType: {{ settings.cart_type | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        rootUrlWithoutSlash: {% if routes.root_url == '/' %}''{% else %}{{ routes.root_url | json }}{% endif %},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        productRegularPrice: {{ 'product.general.regular_price' | t | json }},
        productSalePrice: {{ 'product.general.sale_price' | t | json }},
        collectionOnSaleLabel: {{ 'collection.product.discount_html' | t | json }},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        productAdded: {{ 'product.form.added' | t | json }},
        productAddedShort: {{ 'product.form.added_short' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMultipleResults: {{ 'cart.shipping_estimator.multiple_results_title' | t | json }},
        shippingEstimatorErrors: {{ 'cart.shipping_estimator.errors' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.8,
        expFactor: 3,
        customMedia: {
          '--phone': '(max-width: 640px)',
          '--tablet': '(min-width: 641px) and (max-width: 1023px)',
          '--lap': '(min-width: 1024px)'
        }
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if request.page_type == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    {%- if request.page_type != 'cart' -%}
      <script>
        (function () {
          window.onpageshow = function() {
            // We force re-freshing the cart content onpageshow, as most browsers will serve a cache copy when hitting the
            // back button, which cause staled data
            document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
              bubbles: true,
              detail: {scrollToTop: false}
            }));
          };
        })();
      </script>
    {%- endif -%}
  
<!-- AUTO GENERATED BY CODE CUSTOMIZER -->
{% include "code-customizer-header" %}
<!-- END CODE CUSTOMIZER -->
{% include 'upsellio' %}{% include 'booster-common' %}
{% include 'hulkcode_common' %}{% if template contains 'product' or template contains 'cart' %}<script src='https://ha-volume-discount.nyc3.digitaloceanspaces.com/assets/api/v2/hulkcode.js' defer='defer'></script>{% endif %}{% include 'alireviews_core' %} 
<!-- Google Ads Remarketing Tag By Shopify_Fans -->
 
<!-- 替换掉受众源Tag ID -->
{% assign fa_google_ads_audience_tag_id = 319309832 %}
 
<!-- 根据国家修改国家代码 -->
{% assign fa_product_id_alpha2_code = 'US' %}
 
{% assign fa_prices_with_decimal_separator = true %}
 
<!-- 根据上文步骤4， 修改product_id(default / product_id / sku) -->
{% assign fa_product_id = 'default' %}
 
 

<!-- 请勿修改以下内容 -->
<!-- Global site tag (gtag.js) - Ads. -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-{{ fa_google_ads_audience_tag_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-{{ fa_google_ads_audience_tag_id }}');
</script>
<!-- Global site tag (gtag.js) - Ads. -->
{% if fa_prices_with_decimal_separator == true %}
  {% if template contains 'product' %}
    {% assign fa_product_price = product.price_min | money_without_currency | remove:',' %}
  {% elsif template contains 'cart' %}
    {% assign fa_product_price = cart.total_price | money_without_currency | remove:',' %}
  {% endif %}
{% else %}
  {% if template contains 'product' %}
    {% assign fa_product_price = product.price_min | money_without_currency | remove:'.' | replace: ',', '.' %}
  {% elsif template contains 'cart' %}
    {% assign fa_product_price = cart.total_price | money_without_currency | remove:'.' | replace: ',', '.' %}
  {% endif %}
{% endif %}
{% if template contains 'collection' %}
{% assign fa_event = 'view_item_list' %}
{% elsif template contains 'product' %}
{% assign fa_event = 'view_item' %}
{% elsif template contains 'search' %}
{% assign fa_event = 'view_search_results' %}
{% elsif template contains 'cart' %}
{% assign fa_event = 'add_to_cart' %}
{% elsif template contains 'index' %}
{% assign fa_event = 'home' %}
{% else %}
{% assign fa_event = 'other' %}
{% endif %}
 
<script>
  gtag('event', '{{ fa_event }}', {
 'send_to': 'AW-{{ fa_google_ads_audience_tag_id }}',
 {% if template contains 'product' or template contains 'cart' %}'value': {{ fa_product_price }},{% endif %}
 {% if template contains 'product' %}
 'items': [{
 {% if fa_product_id == 'default' %}
 'id': 'shopify_{{ fa_product_id_alpha2_code }}_{{ product.id }}_{% if product.selected_or_first_available_variant.id %}{{ product.selected_or_first_available_variant.id }}{% else %}{{ product.variants.id }}{% endif %}',
 {% elsif fa_product_id == 'product_id' %}
 'id': '{% if product.variants.first.id %}{{ product.variants.first.id }}{% else %}{{ product.variants.id }}{% endif %}',
 {% elsif fa_product_id == 'parent_id' %}
 'id': '{{ product.id }}',
 {% elsif fa_product_id == 'sku' %}
 'id': '{% if product.variants.first.id %}{{ product.variants.first.sku }}{% else %}{{ product.variants.sku }}{% endif %}',
 {% endif %}
 'google_business_vertical': 'retail'
 }]
 {% elsif template contains 'cart' %}
 'items': [
 {% for item in cart.items %}
 {
 {% if fa_product_id == 'default' %}
 'id': 'shopify_{{ fa_product_id_alpha2_code }}_{{ item.product_id }}_{{ item.variant_id }}',
 {% elsif fa_product_id == 'product_id' %}
 'id': '{{ item.variant_id }}',
 {% elsif fa_product_id == 'parent_id' %}
 'id': '{{ item.product_id }}',
 {% elsif fa_product_id == 'sku' %}
 'id': '{{ item.sku }}',
 {% endif %}
 'google_business_vertical': 'retail'
 },
 {% endfor %}
 ]
 {% endif %}
 });
</script>
<!-- Google Ads Remarketing Tag By Shopify_Fans END -->
  {% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}{% unless boostersnippet contains "Liquid error" %}{{ boostersnippet }}{% endunless %}
{% include 'editorify' %} <script>var scaaffCheck = false;</script>
{{ 'sca_affiliate.js' | asset_url | script_tag }}
{% include 'flashify-common' %}</head>

  <body class="warehouse--v1 {% if settings.animation_image_zoom %}features--animate-zoom{% endif%} template-{{ request.page_type | handle }} {% if request.page_type contains '/' %}template-{{ request.page_type | split: '/' | last | handle }}{% endif %}" data-instant-intensity="viewport"> 
 
 
 
 
 
 
 
 
 
 
 

    {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
    <svg class="visually-hidden">
      <linearGradient id="rating-star-gradient-half">
        <stop offset="50%" stop-color="var(--product-review-star-color)" />
        <stop offset="50%" stop-color="rgba(var(--text-color-rgb), .4)" stop-opacity="0.4" />
      </linearGradient>
    </svg>

    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <span class="loading-bar"></span>

    {% section 'announcement-bar' %}

    {%- unless request.page_type == 'cart' -%}
      {%- comment -%}As required by Shopify rules, popup must be removed on cart page to remove distraction{%- endcomment -%}
      {% section 'popups' %}
    {%- endunless -%}

    {% section 'header' %}

    <main id="main" role="main">
      {{ content_for_layout }}
<limespot></limespot>
    </main>

    {% section 'static-text-with-icons' %}
    {% section 'footer' %}

    <script src="//cdn.codeblackbelt.com/js/modules/currency-converter-plus/main.min.js?shop=hyfol.myshopify.com" defer></script>
    {% section 'foot-navbar' %}
    {% include 'gotop' %}

    

    

    <script src="//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=hyfol.myshopify.com" defer></script>

    <ul hidden>
      <li id="a11y-new-window-message">{{ 'general.accessibility.new_window' | t }}</li>
    </ul>
  
<!-- **BEGIN** Hextom USB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_usb_main', product: product, customer: customer %}
    <!-- **END** Hextom USB Integration // Main Include - DO NOT MODIFY -->

<!-- **BEGIN** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_ctb_main', product: product, customer: customer %}
    <!-- **END** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
{% include 'appikon-discounts' %}
<!-- **BEGIN** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_fsb_main', product: product, customer: customer %}
    <!-- **END** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
  {% include 'revy-bundle-script' %}
{% render 'spurit_dmr_theme_snippet' %}
{% include 'booster-discounts' %}

<!-- **BEGIN** Hextom TMS Integration // Main Include - DO NOT MODIFY -->
    <script>
      var hextom_tms = {
        availableLocalesById: {'fr': {'name': 'Français', 'url': 'https://www.hyfol.com/fr'}, 'de': {'name': 'Deutsch', 'url': 'https://www.hyfol.com/de'}, 'it': {'name': 'Italiano', 'url': 'https://www.hyfol.com/it'}, 'ru': {'name': 'Русский Язык', 'url': 'https://www.hyfol.com/ru'}, 'es': {'name': 'Español', 'url': 'https://www.hyfol.com/es'}, 'en': {'name': 'English', 'url': 'https://www.hyfol.com'}},
        availableLocales: ['fr', 'de', 'it', 'ru', 'es', 'en'],
        primaryLocaleById: {'en': 'English'},
        merchantSelectedLocale: "shop_base",
        hasFlag: "yes",
        selectorFlagMap: {'fr': 'fr', 'de': 'de', 'it': 'it', 'ru': 'ru', 'es': 'es', 'en': 'en'},
        displayType: "language_name",
        fontColor: "#000000",
        backgroundColor: "#FFFFFF",
        backgroundOpacity: "1.0",
        buttonFontColor: "#FFFFFF",
        buttonBackgroundColor: "#000000",
        selectorType: "language",
        selectorStyle: "dropdown",
        hasFlagRegion: "",
        defaultRegion: "",
        primaryRegionById: {},
        availableRegionsByCode: {},
        availableRegions: [],
        primaryDomain: "https://www.hyfol.com",
        popupEnable: false,
        popupTextColor: "#000000",
        popupBgColor: "#FFFFFF",
        popupBtnTextColor: "#FFFFFF",
        popupBtnBgColor: "#000000",
      };
    </script>
    <script src="{{ 'tms.js' | asset_url }}" defer="defer"></script>
    <!-- **END** Hextom TMS Integration // Main Include - DO NOT MODIFY -->
        
        
        
        
 {% include 'smile-initializer' %}

</body>
</html>