{%- capture section_settings -%}
	{
	"stackable": {% if section.settings.layout == 'vertical' and section.settings.stack_products == false %}false{% else %}true{% endif %},
	"layout": {{ section.settings.layout | json }}
	}
{%- endcapture -%}

<section class="section" data-section-id="{{ section.id }}" data-section-type="featured-collection"
				 data-section-settings='{{ section_settings }}'>
	{%- assign collection = section.settings.collection -%}
	{% if section.settings.title!=blank %}
		<div class="container--flush">
			<header class="section__header">
				<h2 class="section__title heading h3 section--text-centered">{{ section.settings.title | escape }}</h2>
			</header>
		</div>
	{% endif %}
	{%- if section.settings.image != blank -%}

		{%- capture web_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', image: section.settings.web_image -%}{%- endcapture -%}
		{%- assign web_image_url = section.settings.web_image | img_url: '1x1'| replace: '_1x1.', '_{width}x.' -%}

		{%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', image: section.settings.image -%}{%- endcapture -%}
		{%- assign image_url = section.settings.image | img_url: '1x1'| replace: '_1x1.', '_{width}x.' -%}

		{%- if section.settings.link != blank -%}
			<a href="{{ section.settings.link }}" class="header-img-cjj">
				<img data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto"
						 alt="{{ section.settings.image.alt | escape }}" class="lazyload hidden-pocket">
				<img data-src="{{ web_image_url }}" data-widths="[{{ web_sizes }}]" data-sizes="auto"
						 alt="{{ section.settings.web_image.alt | escape }}" class="lazyload hidden-lap hidden-lap-and-up">
			</a>
		{%- else -%}
			<div class="header-img-cjj">
				<img data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto"
						 alt="{{ section.settings.image.alt | escape }}" class=" lazyload  hidden-phone">
				<img data-src="{{ web_image_url }}" data-widths="[{{ web_sizes }}]" data-sizes="auto"
						 alt="{{ section.settings.web_image.alt | escape }}" class="lazyload   hidden-tablet-and-up">
			</div>
		{%- endif -%}

	{%- endif -%}

	<div
		class="container {% if section.settings.layout != 'vertical' or section.settings.stack_products %}container--flush{% endif %}">
		{%- capture product_list -%}
		<div
			class="product-list product-list--{{ section.settings.layout }} {% if section.settings.stack_products %}product-list--stackable{% elsif section.settings.layout == 'vertical' %}product-list--scrollable{% endif %}">

			{%- assign use_placeholder = true -%}

			{%- if collection == blank -%}
				{%- assign products = (1..section.settings.products_count) -%}
			{%- else -%}
				{%- assign products = collection.products -%}
				{%- assign use_placeholder = false -%}
			{%- endif -%}

			{%- for product in products limit: section.settings.products_count -%}
			{%- if section.settings.layout == 'vertical' -%}
			{%- assign products_per_row = section.settings.products_count | at_most: 6 -%}

			{%- if section.settings.stack_products -%}
				{%- capture grid_classes -%}1/2--tablet 1/4--lap 1/4-desk 1/4--wide{%- endcapture -%}
			{%- else -%}
				{%- capture grid_classes -%}1/2--tablet 1/4--lap 1/4--desk 1/4--wide{%- endcapture -%}
			{%- endif -%}

			{%- if use_placeholder -%}
				{%- include 'product-item-placeholder', product: product, grid_classes: grid_classes, show_add_to_cart: section.settings.show_quick_buy -%}
			{%- else -%}
				{%- include 'product-item', product: product, grid_classes: grid_classes, show_add_to_cart: section.settings.show_quick_buy -%}
			{%- endif -%}
			{%- elsif section.settings.layout == 'horizontal' -%}
			{%- if use_placeholder -%}
				{%- include 'product-item-placeholder', product: product, horizontal: true, grid_classes: '1/2--tablet 1/3--lap-and-up', show_add_to_cart: false -%}
			{%- else -%}
				{%- include 'product-item', product: product, horizontal: true, grid_classes: '1/2--tablet 1/3--lap-and-up', show_add_to_cart: false -%}
			{%- endif -%}
		{%- else -%}
		{%- assign mod = forloop.index0 | modulo: 3 -%}

			{%- if mod == 0 -%}
			<div class="product-list__column product-list__column--highlight">
				{%- elsif mod == 1 -%}
				<div class="product-list__column {% if forloop.last %}product-list__column--shrink{% endif %}">
					{%- endif -%}

					{%- if mod == 0 -%}
						{%- if use_placeholder -%}
							{%- include 'product-item-placeholder', product: product, show_add_to_cart: false -%}
						{%- else -%}
							{%- include 'product-item', product: product, show_add_to_cart: false -%}
						{%- endif -%}
					{%- else -%}
						{%- if use_placeholder -%}
							{%- include 'product-item-placeholder', product: product, horizontal: true, show_add_to_cart: false -%}
						{%- else -%}
							{%- include 'product-item', product: product, horizontal: true, show_add_to_cart: false -%}
						{%- endif -%}
					{%- endif -%}

					{%- if mod == 0 or mod == 2 or forloop.last -%}
				</div>
				{%- endif -%}
				{%- endif -%}
				{%- endfor -%}
			</div>
			{%- endcapture -%}

			{%- if section.settings.layout == 'vertical' and section.settings.stack_products == false -%}
				<div class="scroller">
					<div class="scroller__inner">
						{{ product_list }}
					</div>
				</div>
			{%- else -%}
				{{ product_list }}
			{%- endif -%}
			<span class="cjj-ctrl cjj-prev hidden-lap hidden-lap-and-up">{%- render 'icon', icon: 'arrow-left' -%}</span>
			<span class="cjj-ctrl cjj-next hidden-lap hidden-lap-and-up">{%- render 'icon', icon: 'arrow-right' -%}</span>
		</div>



		{%- if section.settings.link_title != blank -%}
			<div class="action-box section--text-centered hidden-lap hidden-lap-and-up">
				<a href="{{ section.settings.link_url | default: collection.url | default: '#' }}"
					 class="section__action-link link">{{ section.settings.link_title | escape }} </a>
			</div>
		{%- endif -%}

		{%- comment -%}
			--------------------------------------------------------------------------------------
			QUICK VIEW CONTAINER
			--------------------------------------------------------------------------------------
		{%- endcomment -%}

		<div id="modal-quick-view-{{ section.id }}" class="modal" aria-hidden="true">
			<div class="modal__dialog modal__dialog--stretch" role="dialog">
				<button class="modal__close link" data-action="close-modal"
								title="{{ 'general.accessibility.close' | t | escape }}">
					{%- render 'icon', icon: 'close' -%}
				</button>

				<div class="modal__loader">
					{%- render 'icon', icon: 'search-loader' -%}
				</div>

				<div class="modal__inner"></div>
			</div>
		</div>
	</div>


</section>
<style>
	#shopify-section-{{ section.id }} .section__header {
		display: block;
		margin-bottom: 0;
	}

	#shopify-section-{{ section.id }} .header-img-cjj {
		display: block;
		margin-bottom: 20px;
	}

	#shopify-section-{{ section.id }} .header-img-cjj img {
		width: 100%;
	}

	#shopify-section-{{ section.id }} .scroller {
		width: 100%;
		margin: 0;
	}

	#shopify-section-{{ section.id }} .product-list--scrollable::before {
		display: none;
	}

	#shopify-section-{{ section.id }} .action-box {
		margin-top: 20px;
	}

	#shopify-section-{{ section.id }} .section__action-link {
		display: inline-block;
		background: {{ section.settings.link_bg }};
		padding: 5px 40px;
		color: #fff;
		transform: translateX(0);
		transition: all 0.5s linear;
	}

	#shopify-section-{{ section.id }} .section__action-link:hover {
		background: {{ section.settings.link_bg }};
		color: #000000;

	}
	#shopify-section-{{ section.id }} .product-list .flickity-viewport{
		border-left: 2px solid transparent;
	}
	#shopify-section-{{ section.id }} .container{
		position: relative;
	}
	#shopify-section-{{ section.id }} .cjj-ctrl{
		position: absolute;
		width: 20px;
		height: 40px;
		top: calc(50% - 20px);
		z-index: 1;
		text-align: center;
		line-height: 40px;
		background-color: #fff;
		box-shadow: 0px 0px 1px rgba(0,0,0,.3);
	}
	#shopify-section-{{ section.id }} .cjj-ctrl.cjj-prev{
		left: 10px;
	}
	#shopify-section-{{ section.id }} .cjj-ctrl.cjj-next{
		right: 10px;
	}
</style>

{% schema %}
{
	"name": "带banner的产品集合",
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "桌面端图片"
		},
		{
			"type": "image_picker",
			"id": "web_image",
			"label": "移动端图片"
		},
		{
			"type": "url",
			"id": "link",
			"label": "图片链接地址"
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "选择产品集合"
		},
		{
			"type": "text",
			"id": "title",
			"label": "标题"
		},
		{
			"type": "range",
			"id": "products_count",
			"label": "商品数量",
			"min": 4,
			"max": 50,
			"step": 1,
			"default": 12
		},
		{
			"type": "select",
			"id": "layout",
			"label": "产品网格布局",
			"options": [
				{
					"value": "vertical",
					"label": "垂直模式"
				},
				{
					"value": "horizontal",
					"label": "水平模式"
				},
				{
					"value": "collage",
					"label": "海报模式"
				}
			],
			"default": "vertical"
		},
		{
			"type": "checkbox",
			"id": "stack_products",
			"label": "堆叠产品",
			"info": "仅当布局设置为垂直时适用 ",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_quick_buy",
			"label": "显示快速购买",
			"default": false,
			"info": "仅在布局设置为垂直时显示"
		},
		{
			"type": "text",
			"id": "link_title",
			"label": "按钮标题",
			"default": "View all"
		},
		{
			"type": "color",
			"id": "link_bg",
			"label": "底部按钮颜色"
		},
		{
			"type": "url",
			"id": "link_url",
			"label": "底部按钮链接地址",
			"info": "缺省使用产品集合链接"
		}
	],
	"presets": [
		{
			"category": "Collection",
			"name": "带banner的产品集合",
			"settings": {}
		}
	]
}
{% endschema %}